#mainTable {
    width: 100%;
    height: 100%;
}

#productsTable, #manufacturersTable, #usersTable,
#headerTable, #ordersTable, #ordersButton, #orderTable,
#orderHeaderTable {
    width: 100%;
}

#orderDetailsTable {
    width: 50%;
}

#productEditTable {
    width: 40%;
}

#productEditTable td {
    width: 50%;
}

#productsTable td, #productsTable th,
#manufacturersTable td, #manufacturersTable th,
#usersTable td, #usersTable th,
#productEditTable td,
#ordersTable td, #ordersTable th,
#orderTable td, #orderTable th,
#orderDetailsTable td, #orderDetailsTable th {
    border: 1px solid #ddd;
}

#productsTable th, #manufacturersTable th,
#usersTable th, #usersTable th,
#ordersTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: lightgreen;
    color: white;
}

#titleField, #priceField,
#manufacturerField, #manufacturersButton,
#editProductsButton, #returnToAllProductsButton, #bucketButton,
#usersButton, #createOrderDiv, #addressField, #descriptionField {
    width: 100%;
    text-align: center;
}

#addButton, #saveProductsButton {
    width: 20%;
    float: initial;
}

#createOrderButton {
    width: 50%;
    float: initial;
}

#loginButton, #logoutButton, #registerButton {
    width: 125px;
}


/*Login page*/
.error {
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.msg {
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

#login-box, #register-box {
    width: 330px;
    padding: 20px;
    margin: 100px auto;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 1px solid #000;
}
