#mainTable {
    width: 100%;
    height: 100%;
}

#productsTable, #manufacturersTable, #usersTable, #headerTable {
    width: 100%;
}

#productEditTable {
    width: 40%;
}

#productEditTable td {
    width: 50%;
}

#productsTable td, #productsTable th,
#manufacturersTable td, #manufacturersTable th,
#usersTable td, #usersTable th,
#productEditTable td {
    border: 1px solid #ddd;
}

#productsTable th, #manufacturersTable th,
#usersTable th, #usersTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: lightgreen;
    color: white;
}

#titleField, #priceField,
#manufacturerField, #manufacturersButton,
#editProductsButton, #returnToAllProductsButton, #bucketButton,
#usersButton {
    width: 100%;
    text-align: center;
}

#addButton, #saveProductsButton{
    width: 20%;
    float: initial;
}

#loginButton, #logoutButton {
    width: 125px;
}
